html {
    overflow: hidden;
    position: fixed;
}

body {
    border: 0px solid #bdc3c7;
    position: fixed;

}

body {
    min-width: 100%;
    min-height: 100%;
    background: #bdc3c7;
    color: #bdc3c7;
    text-decoration: none;
}

span {
    width: 70px;
    height: 70px;
    border: 2px #bdc3c7;
    cursor: pointer;
}

#github {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    right: 240px;

    border: 2px solid #bdc3c7 !important;
}

#twitter {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 100px;

    border: 2px solid #bdc3c7 !important;
}

#linkedIn {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 100px;

    border: 2px solid #bdc3c7 !important;
}

#gmail {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 240px;

    border: 2px solid #bdc3c7 !important;
}

#b1 {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    border: 2px solid #bdc3c7 !important;
    background-color: #1abc9c;
}

#b2 {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 80px;
    right: 20px;
    border-radius: 50%;
    border: 2px solid #bdc3c7 !important;
    background-color: #2ecc71;
}

#b3 {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 140px;
    right: 20px;
    border-radius: 50%;
    border: 2px solid #bdc3c7 !important;
    background-color: #3498db;
}

#b4 {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 200px;
    right: 20px;
    border-radius: 50%;
    border: 2px solid #bdc3c7 !important;
    background-color: #9b59b6;
}

#b5 {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 260px;
    right: 20px;
    border-radius: 50%;
    border: 2px solid #bdc3c7 !important;
    background-color: #16a085;
}

#b6 {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 330px;
    right: 20px;
    border-radius: 50%;
    border: 2px solid #bdc3c7 !important;
    background-color: #27ae60;
}

#b7 {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 390px;
    right: 20px;
    border-radius: 50%;
    border: 2px solid #bdc3c7 !important;
    background-color: #2980b9;
}

#b8 {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 10px;
    left: 20px;
    border-radius: 50%;
    border: 2px solid #bdc3c7 !important;
    background-color: #8e44ad;
}

#b9 {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 80px;
    left: 20px;
    border-radius: 50%;
    border: 2px solid #bdc3c7 !important;
    background-color: #f1c40f;
}

#b10 {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 140px;
    left: 20px;
    border-radius: 50%;
    border: 2px solid #bdc3c7 !important;
    background-color: #e67e22;
}

#b11 {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 200px;
    left: 20px;
    border-radius: 50%;
    border: 2px solid #bdc3c7 !important;
    background-color: #e74c3c;
}

#b12 {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 260px;
    left: 20px;
    border-radius: 50%;
    border: 2px solid #bdc3c7 !important;
    background-color: #f39c12;
}

#b13 {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 330px;
    left: 20px;
    border-radius: 50%;
    border: 2px solid #bdc3c7 !important;
    background-color: #d35400;
}

#b14 {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 390px;
    left: 20px;
    border-radius: 50%;
    border: 2px solid #bdc3c7 !important;
    background-color: #c0392b;
}

.box2d {
    cursor: hand;
    cursor: pointer;
}

.navcontainer {

    border: 2px solid #bdc3c7 !important;
    z-index: 50;
}

#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: #bdc3c7;
    overflow: hidden;
    border: 2px solid #bdc3c7 !important;
}

.navbar {
    border-radius: 0;
    z-index: 1;
}

.navbar-new {
    background-color: #1abc9c;
    border-color: #1abc9c;
    width: 100%;
    z-index: 1;
}

.navbar-new .navbar-brand,
.navbar-new .navbar-brand:hover,
.navbar-new .navbar-brand:focus {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 30pt;
    color: #FFF;
    z-index: 1;
}

.navbar-name {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 40pt;
    color: #FFF;
    z-index: 1;

}

.navbar-new .navbar-nav > li > a {
    color: #FFF;
    z-index: 1;
}

.navbar-new .navbar-nav > li > a:hover,
.navbar-new .navbar-nav > li > a:focus {
    background-color: #1abc9c;
    z-index: 1;
}

.navbar-new .navbar-nav > .active > a,
.navbar-new .navbar-nav > .active > a:hover,
.navbar-new .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #1abc9c;
    z-index: 1;
}

.navbar-new .navbar-text {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18pt;
    color: #FFF;
    cursor: pointer;
    z-index: 1;
}

.navbar-new .navbar-toggle {
    border-color: #1abc9c;
    z-index: 1;
}

.navbar-new .navbar-toggle:hover,
.navbar-new .navbar-toggle:focus {
    background-color: #1abc9c;
    z-index: 1;
}

.navbar-new .navbar-toggle .icon-bar {
    background-color: #FFF;
    z-index: 1;
}

.navbar-toggle {
    background-color: transparent;
    color: #f1c40f;
}

.modal-header-about {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #f39c12;
    background-color: #f39c12;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header-contact {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #e74c3c;
    background-color: #e74c3c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.modal-header-resume {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #8e44ad;
    background-color: #8e44ad;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-body-about {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 18pt;
    color: #34495e;
    text-align: center;
}

.modal-body-contact {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 18pt;
    color: #34495e;
    text-align: left;
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}