
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.skrollr-desktop body {
    height: 100% !important;
}

#skrollr-body {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.parallax-image.skrollable-between {
    display: block;
}

.no-skrollr .parallax-image-wrapper {
    display: none !important;
}

.parallax-image-wrapper {
    position: fixed;
    left: 0;
    width: 100%;
    overflow: hidden;

    height: 80vh;
    top: -80vh;
}

.parallax-image {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 100vh;
    top: 0;
}

.parallax-image.skrollable-between {
    display: block;
}

.no-skrollr .parallax-image-wrapper {
    display: none !important;
}

.gap {
    background: transparent center no-repeat;
    background-size: cover;
    height: 100vh;
}

.skrollr .gap {
    background: transparent !important;
}

#page-intro h1 {
    text-align: left;
    margin-left: 20px;
    margin-top: 5px;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 50px;
}

@media (max-width: 800px) {
    #page-intro h1 {
        font-size: 42px;
        padding-top: 15vh;
    }
}

/*Footer*/
footer {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    text-align: left;
    padding: 50px 60px 55px;
    overflow: hidden;
}

/* Footer left */

footer .footer-left {
    float: left;
}

footer h3 {
    color: #111111;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    margin: 0;
}

footer .footer-links {
    color: #696969;
    margin: 22px 0 14px;
    padding: 0;
    cursor: pointer; cursor: hand;
}

footer .footer-links a {
    display: inline-block;
    text-decoration: none;
    color: #696969;
}

/* Footer right */

footer .footer-right {
    float: right;
    width: 50%;
    font-family: EB Garamond, serif;
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    color: #696969;
    display: none;
}

@media (max-width: 1100px) {

    footer .footer-left {
        margin-bottom: 50px;
    }

    footer .footer-right {
        float: left;
        clear: left;
    }

}


